.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.accordion {
  margin-top: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.faq-question {
  padding: 15px;
  background-color: #f7f7f7;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  transition: background-color 0.3s ease;
  height: 50px;
}

.faq-question:hover {
  background-color: #e0e0e0;
}

.faq-question.open {
  background-color: #f0f0f0;
}

.faq-answer {
  padding: 15px;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.faq-answer.show {
  max-height: 200px; /* Arbitrary high value to allow space for the content */
  opacity: 1;
}

.faq-question span {
  font-size: 20px;
  font-weight: bold;
}
