.solidBtn {
  background-color: rgb(0, 60, 255);
  color: white;
  transition: all 0.3s ease;
  width: 150px;
}
.solidBtn:hover {
  background-color: rgb(0, 54, 231);
  transition: all 0.3s ease;
  color: white;
}
.borderBtn {
  background-color: white;
  border: 1px solid rgb(0, 54, 255);
  transition: all 0.3s ease;
}
.borderBtn:hover {
  background-color: rgb(0, 54, 231);
  transition: all 0.3s ease;
  color: white;
}
